{% extends "base.html.twig" %}

{% block body_main %}

    <h1>List of relationships</h1>

    <ul>

        {% for relationship in relationships %}

            <li>
                <a href="{{ path('viewRelationship', {'relationshipUuid': relationship.uuid}) }}">{{ relationship.uuid }} [{{ relationship.type }}]</a><br />
                Source node: <a href="{{ path('viewNode', {'nodeUuid': relationship.sourceNode.uuid}) }}">{{ relationship.sourceNode.uuid }}</a><br />
                Target node: <a href="{{ path('viewNode', {'nodeUuid': relationship.targetNode.uuid}) }}">{{ relationship.targetNode.uuid }}</a><br/>
                {% for relationshipProperty in relationship.properties %}
                    {{ relationshipProperty.name }}: {{ relationshipProperty.value }}<br />
                {% endfor %}
                <a rel="editform" href="{{ path('editRelationship', {'relationshipUuid': relationship.uuid}) }}">Edit</a>
            </li>

        {% endfor %}

    </ul>

    <a rel="alternate" href="{{ path('addRelationship') }}">Add a relationship</a>

{% endblock %}
