{% extends "Api/base.html.twig" %}

{% block body_main %}

    <h1>Node {{ node.uuid }} ({{ node.labels|join(', ') }})</h1>

    <div>
        {% for nodeProperty in node.properties %}
            {% for propertyValue in nodeProperty.values %}
                {{ nodeProperty.name }}: {{ propertyValue.value }}<br/>
            {% endfor %}
        {% endfor %}
    </div>

    <a rel="editform" href="{{ path('apiEditNode', {'nodeUuid': node.uuid}) }}">Edit</a>

    <h2>List of relationships</h2>

    <ul>

        {% for relationship in relationships %}

            <li>
                <a href="{{ path('apiViewRelationship', {'relationshipUuid': relationship.uuid}) }}">{{ relationship.uuid }}
                    [{{ relationship.type }}]</a><br/>
                Source node: <a
                        href="{{ path('apiViewNode', {'nodeUuid': relationship.sourceNode.uuid}) }}">{{ relationship.sourceNode.uuid }}</a><br/>
                Target node: <a
                        href="{{ path('apiViewNode', {'nodeUuid': relationship.targetNode.uuid}) }}">{{ relationship.targetNode.uuid }}</a><br/>
                {% for relationshipProperty in relationship.properties %}
                    {% for propertyValue in relationshipProperty.values %}
                        {{ relationshipProperty.name }}: {{ propertyValue.value }}<br/>
                    {% endfor %}
                {% endfor %}
                <a rel="editform"
                   href="{{ path('apiEditRelationship', {'relationshipUuid': relationship.uuid}) }}">Edit</a>
            </li>

        {% endfor %}

    </ul>

{% endblock %}
