{% extends "Api/base.html.twig" %}

{% block body_main %}

    <h1>Relationship {{ relationship.uuid }} ({{ relationship.type }})</h1>

    <div>
        Source node: <a
                href="{{ path('apiViewNode', {'nodeUuid': relationship.sourceNode.uuid}) }}">{{ relationship.sourceNode.uuid }}</a>
        <br/>
        Target node: <a
                href="{{ path('apiViewNode', {'nodeUuid': relationship.targetNode.uuid}) }}">{{ relationship.targetNode.uuid }}</a>
    </div>

    <div>
        Properties: <br/>
        {% for relationshipProperty in relationship.properties %}
            {% for propertyValue in relationshipProperty.values %}
                {{ relationshipProperty.name }}: {{ propertyValue.value }}<br/>
            {% endfor %}
        {% endfor %}
    </div>

    <a rel="editform" href="{{ path('apiEditRelationship', {'relationshipUuid': relationship.uuid}) }}">Edit</a>

{% endblock %}
